.container {
  background: rgb(78, 203, 113);
}

.first-container {
  width: 100%;
}

.second-container {
  background: linear-gradient(180deg, rgba(78, 203, 113, 1) 0%, rgba(78, 203, 113, 1) 20%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 100%);
}

.content {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 12px 12px 0px 0px;
  max-width: 900px;
  margin: 0 auto;
  padding: 50px;
}

.title-page {
  font-size: 40px;
  font-weight: 600;
  line-height: 20px;
}

.subtitle-subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.label-text {
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  color: #4B5563;
}

.input-place {
  border: 1px solid #D1D5DB;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 10px 15px;
}

.email-input {
  background-color: #FFFFFF;
  border-radius: 6px;
  padding: 16px 20px;
  width: 450px;
  border: none;
}

.text-title {
  font-size: 30px;
  font-weight: 800;
  line-height: 60px;
}

.margin-bottom-24{
  margin-bottom: 24px;
}

.margin-right-16 {
  margin-right: 16px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.margin-bottom-0{
  margin-bottom: 0px;
}

.margin-top-60 {
  margin-bottom: 60px;
}

.authentication-button {
  width: 280px;
  padding: 15px;
  border: none;
  border-radius: 15px;
  color: white;
}

@media screen and (max-width: 970px) and (min-width: 320px) {
  .text-title {
    font-size: 25px;
    font-weight: 500;
    line-height: 25px;
  }

  .title-page {
    font-size: 30px;
    line-height: 10px;
  }

  .label-text {
    font-size: 10px;
  }

  .input-place {
    padding: 5px 10px;
  }

  .margin-bottom-24{
    margin-bottom: 15px;
  }

  .margin-right-16 {
    margin-right: 0px;
  }

  .margin-bottom-0{
    margin-bottom: 8px;
  }

  .margin-top-60 {
    margin-top: 40px;
  }

  .flex-row {
    flex-direction: column;
  }

  .authentication-button {
    width: 200px;
  }
}