<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Events</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="events.css" />
  <link rel="stylesheet" href="../../main.css" />
  <link rel="stylesheet" href="../../navbar.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/1fede1a164.js" crossorigin="anonymous"></script>
  <script src="../../Scripts/navbar.js"></script>
  <script src="../../components/navbar.js" type="text/javascript" defer></script>
</head>

<body>
  <navbar-component></navbar-component>
  <div class="container">
    <div class="first-container">
      <span>saluuuut</span>
    </div>
    <div class="second-container">
      <div style="max-width: 600px; margin: 0 auto; background-color:white;">
        <span>saluuuut</span>
        <h1>saluuuut</h1>
      </div>
    </div>
  </div>
</body>

</html>