.container {
  background: rgb(78,203,113);
}

.first-container {
  width: 100%;
}

.second-container {
    background: linear-gradient(180deg, rgba(78,203,113,1) 0%, rgba(78,203,113,1) 20%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 100%);
}
