.container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1920px;
  align-self: center;
}

.register-container-column {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.register-form-column {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  margin: 5px;
  margin-bottom: 20px;
}

.label-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 12px;
  margin-top: 6px;
  margin-bottom: 6px;
  color: #4b5563;
}

input:not(:first-child) { 
  margin-top: 8px;
}
input:not(:last-child) { 
  margin-bottom: 8px;
}

.spacer-m {
  margin-top: 50px;
}

.spacer-l {
  margin-top: 80px;
}

#map {
  height: 100%;
  width: 80%;
}
