body,
html {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.container {
  flex: 1 1 auto;
  display: flex;
  width: 100%;
  flex-direction: row;
  max-width: 1920px;
  align-self: center;
}

.register-container-column {
  width: 80%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: 100px;
}

/* .register-container-column-center {
    width: 80%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
  } */

.register-container-row {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.register-form-row {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.register-form-column {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  margin: 5px;
  margin-bottom: 20px;
}

.label-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 12px;
  margin-top: 6px;
  margin-bottom: 6px;
  color: #4b5563;
}

.register-input {
  position: relative;

  border: 1px solid #d1d5db;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 15px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 12px;
  color: black;
}

.authentication-button {
  all: unset;
  width: 30%;
  padding: 15px;
  background: #12b83e;
  border-radius: 15px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 12px;
  text-align: center;
  color: white;
}

.title-authentication {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 20px;

  color: #1f2937;
}

.spacer-m {
  margin-top: 50px;
}

.spacer-l {
  margin-top: 80px;
}

#map {
  height: 100%;
  width: 80%;
}
