.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.child-container {
    flex: 1;
}

.green-container {
    background: #33C25A;
    box-shadow: -3px 10px 20px 5px rgba(0, 0, 0, 0.2);
    border-radius: 150px 0px 0px 150px;
}

ul li {
    margin-bottom: 8px;
}
