<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Login</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="../Register/register.css" />
    <link rel="stylesheet" href="../../main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <script src='main.js'></script>
</head>

<body>

    <form class="register-container-column" action="#" method="#">
        <label class="input-title margin-bottom-8">Email</label>
        <input class="input-placeholder input-layout margin-bottom-24" type="email" id="email" name="email"
            placeholder="Email" />

        <label class="input-title margin-bottom-8">Password</label>
        <input class="input-placeholder input-layout margin-bottom-24" type="password" id="password" name="password"
            placeholder="Password" />
    </form>

</body>

</html>