<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./home.css" />
    <link rel="stylesheet" href="../../main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="navigation-bar input-title">
        <ul>
          <li style="padding: 0"><img src="../../images/logo.png" width="90" height="43" /></li>
          <li>Home</li>
          <li>Map</li>
          <li>Events</li>
          <li>Fires</li>
          <li>Earthquakes</li>
          <li>Floods</li>
          <li>Storms</li>
        </ul>
        <!-- <div class="navbar-element input-title">Home</div>
              <div class="navbar-element input-title">Map</div>
              <div class="navbar-element input-title">Events</div>
              <div class="navbar-element input-title">Fires</div>
              <div class="navbar-element input-title">Earthquakes</div>
              <div class="navbar-element input-title">Floods</div>
              <div class="navbar-element input-title">Storms</div> -->
      </div>
    </div>
  </body>
</html>
