<!DOCTYPE html>
<html lang="ro-RO">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../../main.css" />
  <link rel="stylesheet" href="./home.css" />
  <link rel="stylesheet" href="../../navbar.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="icon" type="image/x-icon" href="../../images/logo.png">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/1fede1a164.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="../../Controllers/homeController.js" async></script>
  <script src="../../Controllers/homeAdminController.js" async></script>
  <script src="../../Scripts/filters.js" defer></script>
  <script src="../../Scripts/navbar.js" async></script>
  <script src="../../Scripts/userRoles.js" async></script>
  <script src="../../Scripts/snackbar.js"></script>
  <script src="../../components/navbarComponent.js" type="text/javascript" defer></script>
  <script src="../../components/sideNavbarComponent.js" type="text/javascript" defer></script>
  <script src="../../components/miniNavbarComponent.js" type="text/javascript" defer></script>

</head>

<body>
  <div id="loadingScreen">
    <div id="homeLoader" class="loader"></div>
    <div>Loading... Please wait</div>
  </div>  
  <div id="homeComponent" class="page-row" style="display: none;">
    <div class="container">
      <navbar-component class="displayNavbar"></navbar-component>
      <mininavbar-component style="width: 100%"></mininavbar-component>
      <div class="first-content" style="margin-top:5px;">
        <div class="flex-space-between margin-bottom-24">
          <div class="flex-center-row">
            <div class="flex-center-row margin-right-16">
              <img src="../../images/completeIcon.png" width="17" height="17" class="margin-right-4">
              <span class="text-image">Completed</span>
            </div>
            <div class="flex-center-row margin-right-16">
              <img src="../../images/progressIcon.png" width="17" height="17" class="margin-right-4">
              <span class="text-image">In progress</span>
            </div>
            <div class="flex-center-row">
              <img src="../../images/newIcon.png" width="17" height="17" class="margin-right-4">
              <span class="text-image">New</span>
            </div>
          </div>
          <div class="flex-row">
            <div class="filter-container flex-center-row" style="margin-right: 5px;" onclick="showFiltersPopup()">
              <span id="filtersText" class="text-image margin-right-8">Filters</span>
              <img id="filtersImage" src="../../images/filterIcon.svg" width="17" height="17">
            </div>
            <div class="filter-container flex-center-row" onclick="htmlToCSV('events')">
              <span id="filtersText" class="text-image margin-right-8">Export</span>
              <i class="fa-solid fa-file-export" width="17" height="17"></i>
            </div>
          </div>
        </div>

        <h2>All events</h2>
        <table id="eventsTable">
          <thead id="tableHead"></thead>
          <tbody id="tableBody"></tbody>
        </table>
        <div id="loader" class="loader"></div>    
        
        <div class="flex-center" style="padding-top: 8px">
            <button class="page-link" id="prevButton" onclick="previousPage()" style="visibility: hidden">Prev</button>
            <button class="page-link" id="nextButton" onclick="nextPage()" style="visibility: hidden">Next</button>
        </div>

        <h2 id="civilianEventsTitle" style="display: none;">Events submitted by civilians</h2>
        <div id="adminEventsTitle"></div>
        <table id="adminEventsTable">
          <thead id="adminTableHead"></thead>
          <tbody id="adminTableBody"></tbody>
        </table>
        <div id="adminLoader" class="loader" style="display: none;"></div> 
        
        <div class="flex-center" style="padding-top: 8px">
            <button class="page-link" id="adminPrevButton" onclick="adminPreviousPage()" style="visibility: hidden">Prev</button>
            <button class="page-link" id="adminNextButton" onclick="adminNextPage()" style="visibility: hidden">Next</button>
        </div>
      </div>

      <div class="second-content">
        <h2 style="color:black!important">Shelters and rescue routes</h2>
        <div id="sheltersList" class="container-news"></div>
      </div>
    </div>
    <sidenavbar-component></sidenavbar-component>
  </div>

  <dialog id="modal">
    <span class="close" onclick="closeFiltersPopup()">&times;</span>
    <form class="filter-popup">
      <h2>Situations</h2>
      <h3>Status</h3>
      <div class="flex-center-row">
        <a href="#" class="status-option flex-center-row"><img src="../../images/newIcon.png" width="17"
            height="17" /><span class="status-text">New</span></a>
        <a href="#" class="status-option flex-center-row"><img src="../../images/progressIcon.png" width="17"
            height="17" /><span class="status-text">Proceeding</span></a>
        <a href="#" class="status-option flex-center-row"><img src="../../images/completeIcon.png" width="17"
            height="17" /><span class="status-text">Completed</span></a>
      </div>
      <h3>Location & Date</h3>
      <div class="flex-row">
        <div style="width: 50%; float: left;">
          <select class="input-placeholder input-layout" style="font-size: 15px; padding: 10px; margin-left: 5px;">
            <option value="0">Select location:</option>
            <option value="1">Iasi</option>
            <option value="2">Suceava</option>
            <option value="3">Cluj</option>
            <option value="4">Bucuresti</option>
            <option value="5">Timisoara</option>
          </select>
        </div>
        <div style="width: 50%; float: right;">
          <input type="date" class="input-placeholder input-layout" style="font-size: 15px; padding: 9px;">
        </div>
      </div>
      <h3>Category</h3>
      <div class="flex-center-row">
        <div class="category-text"><input type="checkbox" /><span class="category-text">Fire</span></div>
        <div class="category-text"><input type="checkbox" /><span class="category-text">Earthquakes</span></div>
        <div class="category-text"><input type="checkbox" /><span class="category-text">Storm</span></div>
        <div class="category-text"><input type="checkbox" /><span class="category-text">Floods</span></div>
      </div>
      <h3>Code</h3>
      <div class="flex-center-row">
        <a href="#" class="code-option">Yellow</a>
        <a href="#" class="code-option">Orange</a>
        <a href="#" class="code-option">Red</a>
      </div>
      <input id="close-button" onclick="closeFiltersPopup()"
        class="authentication-button input-title text-align-center hand-mouse margin-top-20" type="submit"
        value="Apply filters" style="background: #12b83e; width: 150px">
    </form>
  </dialog>

  <dialog id="deleteModal"></dialog>

  <dialog id="editModal"></dialog>

  <div id="snackbar"></div>

  <script>
    async function initialize() {
      //Get User Info (Role, Name, etc.)
      const userData = await getUserByEmail();

      document.getElementById("loadingScreen").style.display = "none";
      document.getElementById("homeComponent").style.display = "block";

      //Initialize Events Table
      onInitialized(userData);

      //Initialize Admin Table if user role is Authority
      if (userData.roles === Roles.AUTHORITY) {
        document.getElementById("civilianEventsTitle").style.display = "block";
        document.getElementById("adminLoader").style.display = "block";
        document.getElementById("addShelters").style.display = "block";
        
        onAdminInitalized(userData);
      }
    }
    
    initialize();
  </script>

</body>

</html>