<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Forgot Password</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="../../main.css" />
    <link rel="stylesheet" href="../ChangePassword/changePassword.css" />
    <link rel="icon" type="image/x-icon" href="../../images/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap" rel="stylesheet">
    <script src="../../Controllers/changePasswordController.js"></script>
    <script src="../../Scripts/snackbar.js"></script>
</head>

<body>
    <div class="container">
        <div class="child-container flex-justify-center flex-column first-container-margin">
            <div class="flex-center-row margin-subtitle">
                <img src="../../images/logo.png" class="margin-right-8" width="100" height="100" alt="logo"/>
                <h1 class='title-logo' style="color: #009A29;">CoSe</h1>
            </div>

            <div class="flex-column">
                <span class="input-title first-text margin-bottom-8"> Important Information</span>
                <span class="first-text"> Please <strong style="color:#1f2937">read</strong> the information below and then kindly <strong
                        style="color:#1f2937">share</strong> the requested information.</span>
            </div>

            <ul class="margin-top-40">
                <li>Do <strong style="color:#1f2937">not</strong> reveal your password to anybody</li>
                <li>Do <strong style="color:#1f2937">not</strong> reuse passwords</li>
                <li>Use Alphanumeric passwords</li>
            </ul>

        </div>
        <div class="second-container-width">
            <div class="child-container flex-justify-center flex-column green-container">
                <h1 class="margin-button title-page margin-title text-align-center" style="color: white;">Change Password</h1>

                <form class="flex-column form-container">
                    <input class="input-placeholder input-layout margin-button"
                        style="background: #F8F7F7; border:none" type="text" id="email" name="email"
                        placeholder="Email Address" required />

                    <input class="input-placeholder input-layout margin-button"
                        style="background: #F8F7F7; border:none;" type="password" id="password"
                        name="password" placeholder="Current Password" required/>
                    
                    <input class="input-placeholder input-layout margin-button"
                        style="background: #F8F7F7; border:none" type="password" id="newPassword" name="newPassword"
                        placeholder="New Password" minlength="8" onChange="onPasswordChange()" required />

                    <input class="input-placeholder input-layout margin-subtitle"
                        style="background: #F8F7F7; border:none" type="password" id="confirmPassword" name="confirmPassword"
                        placeholder="Confirm New Password" minlength="8" onChange="onPasswordChange()" required />

                    <div class="flex-space-between-center">
                            <a href="../Login/login.html" class="input-title text-align-center margin-login"
                                style="color: white;">Back
                                to login</a>
                        <input class="authentication-button input-title text-align-center hand-mouse margin-login" type="submit"
                            value="Update Password"
                            style="background: #FFFFFF; color: #12b83e !important; border: 1px solid #12B83E">
                    </div>
                </form>

            </div>
        </div>
        <div id="snackbar"></div>
    </div>
    <script>
        document.addEventListener('submit', (event) => onSubmitFormChangePassword(event))
    </script>

</body>

</html>