.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.child-container {
    flex: 1;
}

.green-container {
    background: #33C25A;
    box-shadow: -3px 10px 20px 5px rgba(0, 0, 0, 0.2);
    border-radius: 150px 0px 0px 150px;
    height: 100%;
}

.form-container {
    margin: 0px 60px;
}

ul li {
    margin-bottom: 8px;
}

.first-container-margin {
    margin: 0px 0px 0px 50px;
}

.second-container-width {
    width: 50%;
}

.flex-justify-center {
    display: flex;
    justify-content: center;
}

.first-text {
    text-align: left;
}

.title-page {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 20px;
    color: #1f2937;
}

.margin-title {
    margin-left: 60px
}

.margin-subtitle {
    margin-bottom: 80px
}

.input-placeholder {
    font-style: normal;
    font-size: 18px;
    padding: 12px;
    line-height: 20px;
}

.authentication-button {
    width: 280px;
    padding: 15px;
    border: none;
    border-radius: 15px;
    color: white;
}

.flex-space-between-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.margin-button {
    margin-bottom: 40px
}

.margin-login {
    margin-bottom: 0px
}

@media screen and (max-width: 1100px) and (min-width: 320px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .first-container-margin {
        margin: 0px;
    }

    .form-container {
        margin: 0px 10px;
    }

    .second-container-width {
        width: 100%;
    }

    .green-container {
        box-shadow: -3px 10px 20px 5px rgba(0, 0, 0, 0.2);
        border-radius: 80px 80px 20px 20px;
        height: 100%;
    }

    .flex-justify-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .first-text {
        text-align: center;
    }

    .title-page {
        font-size: 30px;
    }

    .margin-title {
        margin-left: 0px
    }

    .margin-subtitle {
        margin-bottom: 40px
    }

    .input-placeholder {
        font-size: 16px;
    }

    .title-page {
        font-size: 30px;
    }

    .authentication-button {
        width: 200px;
    }

    .flex-space-between-center {
        display: flex;
        flex-direction: column-reverse;
    }

    .margin-button {
        margin-bottom: 20px
    }

    .margin-login {
        margin-bottom: 20px
    }
}