<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Floods</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../../Views/Map/map.css" />
  <link rel="stylesheet" href="../../main.css" />
  <link rel="stylesheet" href="../../navbar.css" />
  <link rel="icon" type="image/x-icon" href="../../images/logo.png">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/1fede1a164.js" crossorigin="anonymous"></script>
  <script src="../../Scripts/map.js"></script>
  <script src="../../Scripts/navbar.js"></script>
  <script src="../../components/navbarComponent.js" type="text/javascript" defer></script>
  <script src="../../components/sideNavbarComponent.js" type="text/javascript" defer></script>
  <script src="../../components/miniNavbarComponent.js" type="text/javascript" defer></script>
</head>

<body>
  <div class="container">
    <navbar-component class="displayNavbar"></navbar-component>
    <div class="page-row">
      <div class="map-flex-space-between-center">
        <div class="first-section">
          <mininavbar-component style="width: 100%"></mininavbar-component>
          <div class="first-section--title">
            <h1>Floods</h1>
            <select class="map-input-title">
              <option value="test1">10/03/2022</option>
              <option value="test2">Test 2</option>
              <option value="test3">Test 3</option>
              <option value="test4">Test 4</option>
            </select>
          </div>
          <div class="first-section--stats">
            <div class="stats--completed">
              <i class="fa fa-check-circle" style="color: green; font-size: 20px; margin-right: 8px"></i>
              <div class="stats--details map-input-title">
                <h5>Completed</h5>
                <h4>70</h4>
              </div>
            </div>
            <div class="stats--proceeding">
              <i class="fa fa-clock-o" style="color: orange; font-size: 20px; margin-right: 8px"></i>
              <div class="stats--details map-input-title">
                <h5>Proceeding</h5>
                <h4>13</h4>
              </div>
            </div>
            <div class="stats--new map-input-title">
              <i class="fa fa-spinner" style="color: lightskyblue; font-size: 20px; margin-right: 8px"></i>
              <div class="stats--details">
                <h5>New</h5>
                <h4>3</h4>
              </div>
            </div>
          </div>
          <div class="first-section--filter">
            <div class="filter--selected">All</div>
            <div class="filter--not__selected">New</div>
            <div class="filter--not__selected">Proceeding</div>
            <div class="filter--not__selected">Completed</div>
          </div>
          <div class="first-section--elements">
            <div class="elements--container">
              <div class="elements--details">
                <div class="elements--data">
                  <div class="elements--data__title">Name</div>
                  <div class="elements--data__value">Flood 1</div>
                </div>
              </div>
              <div class="elements--details">
                <i class="fa fa-calendar-o" style="margin-right: 8px"></i>
                <div class="elements--data">
                  <div class="elements--data__title">Time of occurence</div>
                  <div class="elements--data__value">10/03/2022</div>
                </div>
              </div>
              <div class="elements--details">
                <i class="fa-solid fa-location-dot" style="margin-right: 8px"></i>
                <div class="elements--data">
                  <div class="elements--data__title">Location</div>
                  <div class="elements--data__value">Iasi</div>
                </div>
              </div>
            </div>
          </div>
          <div class="first-section--elements">
            <div class="elements--container">
              <div class="elements--details">
                <div class="elements--data">
                  <div class="elements--data__title">Name</div>
                  <div class="elements--data__value">Flood 2</div>
                </div>
              </div>
              <div class="elements--details">
                <i class="fa fa-calendar-o" style="margin-right: 8px"></i>
                <div class="elements--data">
                  <div class="elements--data__title">Time of occurence</div>
                  <div class="elements--data__value">10/03/2022</div>
                </div>
              </div>
              <div class="elements--details">
                <i class="fa-solid fa-location-dot" style="margin-right: 8px"></i>
                <div class="elements--data">
                  <div class="elements--data__title">Location</div>
                  <div class="elements--data__value">Suceava</div>
                </div>
              </div>
            </div>
          </div>
          <div class="first-section--elements">
            <div class="elements--container">
              <div class="elements--details">
                <div class="elements--data">
                  <div class="elements--data__title">Name</div>
                  <div class="elements--data__value">Flood 3</div>
                </div>
              </div>
              <div class="elements--details">
                <i class="fa fa-calendar-o" style="margin-right: 8px"></i>
                <div class="elements--data">
                  <div class="elements--data__title">Time of occurence</div>
                  <div class="elements--data__value">10/03/2022</div>
                </div>
              </div>
              <div class="elements--details">
                <i class="fa-solid fa-location-dot" style="margin-right: 8px"></i>
                <div class="elements--data">
                  <div class="elements--data__title">Location</div>
                  <div class="elements--data__value">Bucuresti</div>
                </div>
              </div>
            </div>
          </div>
          <div class="first-section--elements">
            <div class="elements--container">
              <div class="elements--details">
                <div class="elements--data">
                  <div class="elements--data__title">Name</div>
                  <div class="elements--data__value">Flood 4</div>
                </div>
              </div>
              <div class="elements--details">
                <i class="fa fa-calendar-o" style="margin-right: 8px"></i>
                <div class="elements--data">
                  <div class="elements--data__title">Time of occurence</div>
                  <div class="elements--data__value">10/03/2022</div>
                </div>
              </div>
              <div class="elements--details">
                <i class="fa-solid fa-location-dot" style="margin-right: 8px"></i>
                <div class="elements--data">
                  <div class="elements--data__title">Location</div>
                  <div class="elements--data__value">Cluj</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="second-section">
          <!--The div element for the map -->
          <!-- Search input -->
          <input id="searchInput" class="searchBox" type="text" style="margin-top: 10px"
            placeholder="Enter a location" />
          <!-- Google map -->
          <div id="map" style="
              display: flex;
              flex-direction: column;
              border: 1px solid #9ca3af;
              box-sizing: border-box;
              border-radius: 30px;
            "></div>
          <div class="essentialTips flex-center-column">
            <div class="tips-title">Shelters and safe routes:</div>
            <div class="tips-flex-center-row">
              <div class="elipse">1</div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
                erat nunc, fringilla eu massa a, sollicitudin tincidunt neque.
              </p>
              <div class="elipse">2</div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
                erat nunc, fringilla eu massa a, sollicitudin tincidunt neque.
              </p>
              <div class="elipse">3</div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
                erat nunc, fringilla eu massa a, sollicitudin tincidunt neque.
              </p>
            </div>
          </div>
        </div>
      </div>
      <sidenavbar-component></sidenavbar-component>
    </div>
  </div>
  <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
  <script
    src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDwqwV9AluRxRNfyomqquJ8w0BiaPuCmso&callback=initMap"
    async defer></script>
</body>

</html>